@model AuctionSystem.Web.ViewModels.CategorysListViewModel
<div id="listDisplay">
    <div class="row auction_list my-3 px-3 align-middle">
        <div class="col-md-4 my-2">
            <button class="btn btn-info" id="createCategory" data-bs-toggle="modal" data-bs-target="#formModal">Add New Category</button>
        </div>
        <div class="col-md my-2">
            <h3>All Categories </h3>
        </div>
    </div>
    <div class="list my-3">
        <table class="table table-hover">
            <thead>
                <tr class="tbl-color">
                    <th scope="col">SN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Total Products</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var cat in Model.Categories)
                {
                <tr>
                    <th scope="row">@i</th>
                    <td>@cat.Name</td>
                    <td>@cat.Description</td>
                    <th>@cat.Auctions.Count()</th>

                    <td class="d-flex">
                        <button data-id="@cat.Id" class="editButton btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#formModal">Edit</button>
                        <button data-id="@cat.Id" class="deleteButton btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </td>
                </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade " id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contentArea">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this auction ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="ndeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#createCategory").click(function () {
        $.ajax({
            url:"/Category/Create/",
            type: "get"
        }).done(function (response) {
            $("#contentArea").html(response);
        });

    });
    $(".editButton").click(function () {
        $.ajax({
            url: "/Category/Edit/",
            method: "get",
            data: {
                Id: $(this).attr("data-id")
            }
        }).done(function (response) {
            $("#contentArea").html(response);
        });

    });


    $("#ndeleteButton").click(function () {
        $.ajax({
            url:  "/Category/Delete",
            method: "post",
            data: {
                Id: $(this).attr("data-recordID")
            }
        }).done(function (response) {
            $('#deleteModal').modal('toggle');
            $("#listDisplay").html(response);

        });

    });
    $(".deleteButton").click(function () {
        $('#deleteModal').modal('toggle');
        $('#ndeleteButton').attr("data-recordID", $(this).attr("data-id"));
    });

</script>