@model AuctionSystem.Web.ViewModels.CreateAuctionViewModel

<div class="create my-4 p-4">

    <div class="modal-header">
        <h5 class="modal-title">Create Auction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form class="form" method="post" action="Edit" id="editForm">
        <div class="modal-body">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="row mb-3">
                <label class="form-label px-0 fw-bold">Title</label>
                <input type="text" name="Title" class="form-control" value="@Model.Title" />
            </div>
            <div class="row mb-3">
                <label class="form-label px-0 fw-bold">ActualAmount</label>
                <input type="text" name="ActualAmount" class="form-control" value="@Model.ActualAmount" />
            </div>
            <div class="row mb-3">
                <label class="form-label px-0 fw-bold">Select Images</label>
                <input type="file" id="AuctionPictures" name="Auction-Images" class="form-control" multiple required />
            </div>
            <div id="picturesArea" class="edit_image">
                @if (Model.AuctionPicturesList != null && Model.AuctionPicturesList.Count > 0)
                {
                    foreach (var picture in Model.AuctionPicturesList)
                    {
                        <img  class='Image img-thumbnail my-2' src='/Content/images/@picture.Picture.URL' data-id="@picture.Id" />
                    }
                }
            </div>
            <div class="row mb-3">
                <label class="form-label px-0 fw-bold">Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" />
            </div>
            <div class="row mb-3">
                <label class="form-label px-0 fw-bold">Category</label>
                <select class="form-select" name="CategoryId">
                    @foreach (var category in Model.Categories)
                    {
                        var selected = category.Id == Model.CategoryId ? "selected" : string.Empty;
                        <option value="@category.Id" @selected>@category.Name</option>
                    }
                </select>
            </div>
            <div class=" row mb-3">
                <label class="form-label px-0 fw-bold">StartingTime</label>
                <input type="text" name="StartingTime" class="form-control" value="@Model.StartingTime" />
            </div>
            <div class=" row mb-3">
                <label class="form-label px-0 fw-bold">EndingTime</label>
                <input type="text" name="EndingTime" class="form-control" value="@Model.EndingTime" />
            </div>
            <div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <input id="editAuction" type="button" name="submit" class="editAuction btn btn-primary" value="Update">

        </div>

    </form>

    <script>
        RemoveImagesOnClick();
        $("#editAuction").click(function () {

            var imageIds = [];
            $("#picturesArea .Image").each(function () {
                var imageId = $(this).attr("data-id");
                imageIds.push(imageId);
            });
            $("#PictureIds").val(imageIds.join());


            console.log($("#editForm").serialize());
            $.ajax({
                url: "/auction/edit",
                method: "post",
                data: $("#editForm").serialize(),

            })
                .done(function (response) {
                    $('#formModal').modal('toggle');
                    $("#listDisplay").html(response);
                });
        });
         $("#AuctionPictures").change(function () {
        var pictures = this.files;
        var picsData = new FormData();
        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i])
        }
        $.ajax({
            url: "@Url.Action("UploadPictures", "Shared")",
            type: "post",
            data: picsData,
            dataType: "json",
            processData: false,
            contentType: false
        })
            .done(function (responses) {
                for (var i = 0; i < responses.length; i++) {
                    var picResponse = responses[i];
                    AttachedNewImage(picResponse.pictureUrl, picResponse.Id)
                }
            })
    });
    </script>
</div>
